body {
  margin: 0;
  background-color: #22304f;
}
@font-face {
  font-family: "Calibri";
  src: url("./fonts/Calibri\ Regular.ttf");
}
.loader {
  position: absolute;
  z-index: 1;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
